body {
    font-family: 'Play', sans-serif;
    background: url("../images/anatomy-high-tech.jpg");
    color: #ffffff;
}
h1 {
    font-size: 72px;
    padding-top: 10%;
    text-align: center;
}
#game {
    margin: auto;
    height: 600px;
    width: 1200px;
    background-color: #4444ff;
}
#question {  
    text-align: center;
    font-size: 24px;
    color: #ffff00;
    padding: 0;
}
#answer {
    text-align: center;
    font-size: 24px;
    padding: 0;
    margin: 0;
}
#timer  {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #ffff00;
}
#start {
    position: relative;
    left: 33%;
    margin: 5% auto;
    width: 33%;
    height: 80px;
    font-family: 'Play', sans-serif;
    font-size: 28px;
    background: #0000ff;
    color: #ffffff;
}
#answer0, #answer1, #answer2, #answer3{
    text-align: center;
    transition-duration: 0.4s;
    margin: 30px 35%;
    color: #ffffff;
    font-size: 24px;
}
